{% extends 'base.html.twig' %}

{% block title %}Index Book{% endblock %}

{% block body %}

    <h2>{{ books|length }} livres enregistrés</h2>

    <div class="table-responsive">
        {% if books is not empty %}
            <table id="books" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Editeur</th>
                        <th>État</th>
                        <th class="col-md-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr>
                            <td>{{ book.titre }}</td>
                            <td>{{ book.auteur }}</td>
                            <td>
                                {% if book.editeur is not null %}
                                    {{ book.editeur.nom }}
                                {% else %}
                                    Editeur introuvable
                                {% endif %}
                            </td>
                            <td>
                                {% if book.isLoaned %}
                                    <span class="badge bg-warning">Prêté</span> 
                                {% else %}
                                    <span class="badge bg-success">Disponible</span> 
                                {% endif %}
                            </td>
                            <td class="col-md-2">
                                <a href="/book/{{ book.id }}" class="btn btn-info">View</a>
                                <a href="/book/{{ book.id }}/edit" class="btn btn-warning">Edit</a>
                                <a href="/book/{{ book.id }}/delete" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="alert alert-info"><b>Aucun livre n'a été renseigné</b></p>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vanilla-datatables@latest"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new DataTable('#books', {
                searchable: true,
                sortable: true,
                labels: {
                    placeholder: 'Rechercher...', // Placeholder de recherche
                    perPage: '{select} entrées par page', // Texte pour le nombre d'entrées par page
                    noRows: 'Aucune entrée trouvée', // Texte lorsqu'aucune entrée n'est trouvée
                    info: 'Affichage des entrées {start} à {end} sur {rows} entrées' // Information sur la pagination
                }
            });

            var input = document.querySelector('.dataTable-input');
            var selector = document.querySelector('.dataTable-selector');
            if (input) {
                input.classList.add('form-control');
            }
            if (selector) {
                selector.classList.add('form-control');
            }
        });
    </script>
{% endblock %}
