{% extends 'base.html.twig' %}

{% block title %}Index Editor{% endblock %}

{% block body %}

    <h2>{{ editors|length }} maisons d'éditions dans la bibliothèque</h2>

    <div class="table-responsive">
        {% if editors is not empty %}
            <table id="editors" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Nom de la maison</th>
                    <th>Email</th>
                    <th>Tel</th>
                    <th>Adresse </th>
                    <th class="col-md-2">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for editor in editors %}
                    <tr>
                        <td>{{ editor.nom }}</td>
                        <td>{{ editor.email }}</td>
                        <td>{{ editor.tel }}</td>
                        <td>{{ editor.adresse }}</td>
                        <td class="col-md-2">
                            <a href="/editor/{{ editor.id }}" class="btn btn-info">View</a>
                            <a href="/editor/{{ editor.id }}/edit" class="btn btn-warning">Edit</a>
                            <a href="/editor/{{ editor.id }}/delete" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="alert alert-info"><b>Aucune maison d'édition n'a été renseigné</b></p>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vanilla-datatables@latest"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new DataTable('#editors', {
                searchable: true,
                sortable: true,
                labels: {
                    placeholder: 'Rechercher...', // Placeholder de recherche
                    perPage: '{select} entrées par page', // Texte pour le nombre d'entrées par page
                    noRows: 'Aucune entrée trouvée', // Texte lorsqu'aucune entrée n'est trouvée
                    info: 'Affichage des entrées {start} à {end} sur {rows} entrées' // Information sur la pagination
                }
            });

            var input = document.querySelector('.dataTable-input');
            var selector = document.querySelector('.dataTable-selector');
            if (input) {
                input.classList.add('form-control');
            }
            if (selector) {
                selector.classList.add('form-control');
            }
        });
    </script>
{% endblock %}
